body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.master_background {
    padding: 5%;
    background-image: linear-gradient(to right, #374845, #2f6c5a);
    min-height: 100vh;
}

.main_content {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header {
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
}

nav {
    background: linear-gradient(to right, #373631, #302b23, #373631);
    padding: .2em;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -20px;

}

nav ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Center items vertically */
    width: 60%;
    font-weight: bold;
}

nav ul li {
    font-size: 1.2em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: .5em 20px;
    display: flex;
    border-radius: 5px;
}

nav ul li a.active {
    background: #91c9da;
    color: #3c3b4d;
}

nav ul li a:hover:not(.active) {
    transition: background-color .5s, color .5s;
    background-color: #ecdbc4;
    color: #3c3b4d;
}

section {
    padding: 1em;
    margin-top: 0;
}

section h1, section h2 {
    color: #33322b;
    padding-top: 1em;
    padding-left: 1em;
}

/*.translucent {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px 30px;
    border-radius: 10px; 
    margin: 0px;
    display: inline-block;
}

.translucent h1, .translucent p {
    color: white;
}*/

footer {
    display: block;
    background-color: #353531;
    color: white;
    padding: .1em 1em;
}

/*Putting the fonts here*/
.poiret-one-regular {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
  }


 .quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  
.assistant {
    font-family: "Assistant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.molengo-regular {
    font-family: "Molengo", serif;
    font-weight: 400;
    font-style: normal;
  }

  
.albert-sans {
    font-family: "Albert Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  